$hoverColor: rgb(205, 255, 238);
$reserveColor: rgb(114, 210, 248);

.header {
	display: flex;

	justify-content: space-between;
	padding: 0 1vw 0 1vw;

	img {
		max-width: 100px;
		max-height: 120px;
	}

	.navigator {
		margin: 0;
		border: 0;
		text-align: right;
		height: 3vh;
		padding-top: 2vh;

		.is-active {
			color: $hoverColor;
			&:after {
				border-bottom: solid .2vh $hoverColor;
				display: block;
				width: 100%;
				transform: scale(1, 1);
			}
		}
		a {
			font-size: 2vh;
			text-decoration: none;
			color: antiquewhite;
			text-align: left;
			display: inline-block;
			margin: 1vw 1vh;
			padding-bottom: .3vh;
			transition: color 500ms ease-in-out;

			&:hover {
				color: $hoverColor;
			}

			&:after {
				display: block;
				content: '';
				border-bottom: solid .2vh $hoverColor;
				transform: scaleX(0);
				transition: transform 500ms ease-in-out;
				transform-origin: 0% 50%;
			}
			&:hover:after {
				transform: scaleX(1);
			}
		}
	}
}
.content {
	font-size: 2.1vh;
	display: inline-block;
	text-align: left;
	width: 30%;
	opacity: 0;
	background-color: rgb(39, 39, 39);
	animation: show-x .7s .7s forwards;
	h3 {
		padding: 10vh 3vw 0 3vw;
	}
	p {
		padding: 0 3vw 0 3vw;
	}
}

.hotItems {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: left;
	font-size: 1.7vh;
	color: rgb(185, 185, 185);
	margin: 0 auto;
	max-width: 50%;
	height: 20vh;
	opacity: 0;
	animation: show-x .7s .7s forwards;
	height: 20%;
	background: rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	overflow: visible;

	img {
		position: relative;
		top: -30px;
		width: 100px;
	}

	.item1 {
		display: grid;
		grid-template-columns: 1fr 2fr;
		margin-left: 2vw;
	}
	.item1 div {
		display: float;
		padding-left: 0.7vw;
	}
	.item2 {
		display: grid;
		grid-template-columns: 1fr 2fr;
		margin-left: 1vw;
		margin-right: 2vw;
	}
	.item2 div {
		display: float;
		padding-left: 0.7vw;
	}
}

.contentContainer {
	margin-top: 3vh;
	text-align: right;
}

.reserveFoot {
	display: inline-block;
	color: whitesmoke;
	width: 10%;
	opacity: 0;
	text-decoration: none;
	text-align: right;
	margin-right: 2vw;
	animation: show-x .7s .7s forwards;
	transition: color 350ms ease-in-out;
	&:hover {
		color: $reserveColor;
	}
	&:after {
		display: block;
		content: '';
		border-bottom: solid .2vh whitesmoke;
		transition: border-bottom 350ms ease-in-out;
	}
	&:hover:after {
		border-bottom: solid .2vh $reserveColor;
	}
}

@keyframes show-x {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
